html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: url(/img/dot-bg.png);
}

body{
    height: 100%;
}

.text-purple{
    color: rgb(134, 19, 134);
}

.small-nav{
    display: none;
}

.text-shadow{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.lead{
    font-size: 20px;
    font-weight: 350;
}

.vertical-nav{
    background: rgb(248, 248, 248);
    position: fixed;
    top: 0;
    left: 0;
    width: 17rem;
    height: 100vh;
    overflow-y: scroll;
    z-index: 5;
}

.vertical-nav a{
    text-decoration: none;
}

.vertical-nav a span{
    color: #000;
}

.vertical-nav h1{
    margin-top: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300 !important;
}

.display-4{
    font-size: 32px;
}

.vertical-nav h4{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300 !important;
    font-size: 18px;
}

hr{
    border-bottom: 1px solid darkgray;
}

.vertical-nav ul{
    list-style: none;
    padding: 0;
}

.vertical-nav li{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300 !important;
    font-size: 19px;
    font-weight: 500;
    padding: 10px 30px;
    margin-bottom: 5px;
    transition: 0.4s all ease-in-out;
}

.vertical-nav li:hover{
    background-color: rgb(211, 211, 211);
    border-left: 7px solid var(--borderCol);
    cursor: pointer;
}


#mainNav li.active{
    background: rgb(211, 211, 211) !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    border-left: 7px solid var(--borderCol);
}

#page{
    width: calc(100vw - 17rem);
    height: 100vh;
    margin-left: 17rem;
}

#page #opening h1{
    font-size: 4vw;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
}

#page #opening h1:nth-child(1){
    margin-top: 40px;
}

#underline{
    border-bottom: 4px solid #0275d8;
}

#opening{
    background: url(/img/bg-jpg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

#abt-main-statement{
    font-family: 'Raleway', sans-serif;
    border-left: 5px solid #0275d8;
}

#experience .card{
    margin-top: 90px;
    width: 95%;
    position: relative;
    z-index: 1;
}

.card-header{
    background: white;
}

.card-header h2{
    font-size: 30px;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
}

.card-header h3{
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
}

.subheading{
    font-family: 'Raleway', sans-serif;
}

#experience .card-body h3{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.card-body ul{
    color: #5cb85c;
}

.card-body h3.text-muted{
    font-family: 'Raleway', sans-serif;;
}

.card-body li span, p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: black;
}

.card-body li{
    font-size: 17px;
    margin-bottom: 10px;
}

.card-footer h3{
    font-size: 15px;
    font-weight: 450;
}

.section-container{
    margin-bottom: 70px;
}

.card-text{
    font-size: 17px;
    line-height: 1.55;
}

#skills .card{
    margin-top: 75px;
    width: 95%;
}

#skills .card .card-header h2{
    font-size: 35px;
    font-weight: 300;
}

#skills .card .card-body h3{
    font-size: 25px;
}

#skills .card .card-body .row div{
    padding: 20px 40px 20px 40px;
    text-align: center !important;
}

#skills .card .card-body svg{
    height: 90px;
    width: 90px;
}

#education .card{
    margin-top: 75px;
    width: 95%;
}

#contact .card{
    margin-top: 75px;
    width: 95%;
    padding: 30px 50px;
}

#contact  .display-4{
    font-size: 25px;
}

#contact i{
    font-size: 30px;
}

#contact a{
    margin-bottom: 0;
    margin-left: 20px;
}

#contact button{
    height: 60px;
    width: 60px;
}

#contact .card-body .row:nth-child(1), #contact .card-body .row:nth-child(2){
    margin-bottom: 30px;
}

@media (max-width: 1200px){
    .vertical-nav{
        transition: 0.4s all;
        width: 15rem;
        margin-left: -15rem;
        z-index: 5;
    }

    .vertical-nav .display-4{
        font-size: 30px;
    }

    .vertical-nav h4{
        font-size: 16px;
    }

    .vertical-nav li{
        font-size: 18px;
    }

    .vertical-nav.active{
        margin-left: 0;
    }

    .toggle-btn{
        background: transparent;
        outline: none !important;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.4s all;
    }

    .bar{
        width: 30px;
        height: 4px;
        background: red;
        margin-bottom: 5px;
        border-radius: 2px;
    }

    .small-nav{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background: rgb(245, 245, 245);
        height: 7rem;
        transition: 0.4s all;
        z-index: 2;
    }

    .small-nav.active{
        width: calc(100vw - 15rem);
        margin-left: 15rem;
        box-shadow: none !important;
    }

    .small-nav.active .toggle-btn{
        margin-left: 15px;
    }

    #page{
        width: 100vw;
        margin-left: 0;
        margin-top: 7rem;
        transition: 0.4s all;
    }

    #page #opening h1{
        font-size: 55px;
        transition: 0.4s all;
    }

    #page.active{
        width: calc(100vw - 15rem);
        margin-left: 15rem;
    }

    #page.active #opening h1{
        font-size: 45px;
        padding-left: 15px;
    }
}

@media (max-width: 600px){
    /* html, body{
        scroll-behavior: auto;
    } */

    .small-nav h1{
        font-size: 24px;
        font-weight: 600;
        margin-top: 10px;
    }
    .small-nav h4{
        font-size: 18px;
    }

    .small-nav{
        display: block;
        width: 100vw;
        background: rgb(245, 245, 245);
        height: 6rem;
        transition: 0.4s all;
        position: fixed;
    }

    #close-nav{
        display: block !important;
        position: absolute;
        font-size: 30px;
        top: 25px;
        right: 30px;
        cursor: pointer;
    }

    .vertical-nav{
        transition: 0.4s all;
        width: 90vw;
        margin-left: -90vw;
        z-index: 5;
    }

    .vertical-nav .display-4{
        font-size: 36px;
    }

    .vertical-nav h4{
        font-size: 16px;
    }

    .vertical-nav li{
        font-size: 24px;
        text-align: center;
    }

    .vertical-nav li:nth-child(6){
        margin-bottom: 50px;
    }

    .vertical-nav.active{
        margin-left: 0;
    }

    .small-nav.active{
        width: calc(100vw - 12rem);
        margin-left: 12rem;
        box-shadow: none !important;
    }

    .small-nav.active .toggle-btn{
        margin-left: 12px;
    }

    #page{
        width: 100vw;
        margin-left: 0;
        margin-top: 6rem;
        transition: 0.4s all;
    }

    #opening{
        background-position-x: -370px;
    }

    #page #opening h1{
        font-size: 45px;
        padding-left: 15px;
    }

    #page #opening h1:nth-child(1){
        margin-top: 25px;
    }

    #page.active{
        overflow: hidden;
    }

    #page.active #opening h1{
        font-size: 20px;
        padding-left: 15px;
    }

    .section-title{
        font-size: 35px;
    }

    #abt-main-statement{
        font-size: 25px;
    }
    
    #page p{
        font-size: 18px !important;
    }

    .card-header h2{
        font-size: 24px;
    }
    
    .card-header h3{
        font-size: 16px;
    }

    #contact .card{
        padding: 30px 15px;
    }

    #contact  .display-4{
        font-size: 20px;
    }
    
    #contact i{
        font-size: 20px;
    }

    #contact a.btn{
        height: 50px;
        width: 50px;
    }

    #contact a:not(.btn){
        margin-bottom: 0;
        margin-left: 10px;
    }
}

@media (max-width: 450px){

    .vertical-nav, .toggle-btn{
        display: none;
    }

    #opening{
        background-position-x: -300px;
    }

    #abt-main-statement{
        font-size: 22px;
    }
    
    #page p{
        font-size: 16px !important;
    }

    .card{
        width: 95% ;
    }

    .card-header h2{
        font-size: 25px;
    }
    

    .card-header svg{
        width: 60px !important;
        height: 60px !important;
    }

    #skills .card .card-body svg{
        height: 100px;
        width: 100px;
    }

    #contact{
        margin-bottom: 70px;
    }
}


::-webkit-scrollbar{
    display: none;
}